<!--
<section class="quote-section">
	<div class=overlay></div>
	<div class=container>
		<div class="row justify-content-center">
			<blockquote class="col-md-7 text-center fadeInUp">
				<h3 class="wow slideInLeft h2 mb-5" data-wow-duration=0.25s data-wow-delay=0.1s>“{{quoteData['quote']}}”</h3>
				<h4 class="wow slideInRight h2" data-wow-duration=0.25s data-wow-delay=0.1s>
					<cite title="{{quoteData['author']}}">- {{quoteData['author']}}</cite>
				</h4>
			</blockquote>
		</div>
	</div>
</section>-->

<div class="gif-grid">
	<!-- Grid Item 1 -->
	<div class="gif-item" data-hover="assets/images/test.gif" data-static="assets/images/Profile-pic-512x512.png">
		<img src="assets/images/Profile-pic-512x512.png" alt="FGAM">
	</div>
	<!-- Grid Item 2 -->
	<div class="custom-gif-item gif-item" data-hover="gifs/hover1.gif" data-static="gifs/static1.jpg">
		<img src="gifs/static2.jpg" alt="Static 2">
	</div>
	<!-- Grid Item 3 -->
	<div class="gif-item" data-hover="gifs/hover3.gif" data-static="gifs/static3.jpg">
		<img src="gifs/static3.jpg" alt="Static 3">
	</div>
	<!-- Grid Item 4 -->
	<div class="gif-item" data-hover="gifs/hover4.gif" data-static="gifs/static4.jpg">
		<img src="gifs/static4.jpg" alt="Static 4">
	</div>
	<!-- Grid Item 5 -->
	<div class="gif-item" data-hover="gifs/hover5.gif" data-static="gifs/static5.jpg">
		<img src="gifs/static5.jpg" alt="Static 5">
	</div>
	<!-- Grid Item 6 -->
	<div class="gif-item" data-hover="gifs/hover6.gif" data-static="gifs/static6.jpg">
		<img src="gifs/static6.jpg" alt="Static 6">
	</div>
</div>
